{{ define "main" }}
<h1> Weekly details </h1>

{{ $last_week := (now.AddDate 0 0 -8) }}

<div class="container col-sm-9">
  <h2 class="my-3"> Current & Upcoming </h2>
  <div class="row">
    {{ range first 8 (where .Pages.ByDate "Date"  "ge" $last_week).ByDate }}
      <p><span class="fw-light text-muted fs-6">{{ .Date.Format "Monday January 2"}} </span> <br>
        <a class="fs-4 fw-bold" href="{{.Permalink}}" >{{ .Title }} </a> : 
      {{.Description}} </p>
    {{ end }}
  </div>
  
  <div class="row mt-2">
  <h2 class="my-3"> Past weeks </h2>
  {{ range  (where .Pages.ByDate "Date"  "le" $last_week).ByDate.Reverse }}
    <p><span class="fw-light text-muted fs-6">{{ .Date.Format "Monday January 2"}} </span> <br>
      <a class="fs-4 fw-bold" href="{{.Permalink}}" >{{ .Title }} </a> : 
    {{.Description}} </p>
  {{ end }}
  </div>  

</div>
{{ end }}
