<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $sass := resources.Get "main.scss" }}

    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    {{ $title := print .Site.Title " | " .Title }}
    <title>{{ $title }}</title>
</head>