/*It's too dark and is hard on the eyes. Trying a little lighter shade of text. */


/* unsmush the lines but create a class to re-smush them in sidebar, nav*/
li {
   margin-top: .5rem;

}



li-m0 {
   margin-top: 0;
}

h2 {
   font-weight: bold;
}

h1 {
   font-weight:800;
}

h3 {
   font-weight: bold;
   margin-left: 1rem;
}

.subtitle {
   font-weight: bold;
   font-style: italic;
   font-size: 1.3rem;
   color: #5f6d6d;
}